body{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;

}
.toggle-nav{
    display: none;
}
@media screen and (min-width:860px){
    .menu{
        width: 100%;
        padding: 10px 18px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
        border-radius: 0px;
        background: black;
        
    }
}
.menu ul{
    display: inline-block;
    
}
.menu li{
    margin: 0px 50px 0px 0px;
    float: left;
    list-style: none;
    font-size: 17px;
    
}
.menu li:last-child{
    margin-right: 0px;
}
.menu a{
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#fff;
    transition: color linear 0.15s;
    
}
.menu a:hover,.menu.current-item a{
    text-decoration: none;
    color:#66a992;
}
@media screen and(max-width:1150px){
    .wrap{
        width: 90%;
    }
}
@media screen and(max-width:860px){
    .menu{
        position: relative;
        display: inline-block;
        
    }
    .menu ul.active{
        display:none;
    }
    .menu ul{
        width: 100%;
        position: absolute;
        top: 120px;
        left: 0px;
        padding: 10px 18px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0,15);
        border-radius: 0px;
        background: black;
        
    }
    .menu ul:after{
        width: 0px;
        height: 0px;
        position: absolute;
        top:0px;
        left: 22px;
        content:'';
        transform: translate(0%,-100%);
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid black;
    }
    .menu li{
        margin: 5px 0px 5px 0px;
        float: none;
        display: block;
        
    }
    .menu a{
        display: block;
        
    }
    .toggle-nav{
        padding: 20px;
        float: left;
        display: inline-block;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
        border-radius: 1px;
        background: black;
        text-shadow: 0px 1px 0px rgba(0,0,0,0.15);
        color:#fff;
        font-size: 20px;
        transition: color linear 0.15s;
        
    }
    .toggle-nav:hover,.toggle-nav.active{
        text-decoration: none;
        color:#66a992;
    }
}
.info{
	float: left;
	width: 28%;
	margin-left: 10px;
	font-family: sans-serif;
	font-size: 22px;

}
.slider{
position: relative;
width: 40%;
height: 300px;
padding: 20px;
align-items: center;
margin: auto; /*//aligning items at the center.*/
display: block;
border-radius: 10px solid red;

}
.slider img{
position: absolute;
top: 0px;
left: 0px;
z-index: -2;
width: 500px;
height: 300px;


}
.slider .top{
	z-index: -1;
}
header{
	background: #3d3d3d;
	width: 100%;
	padding: 40px 0;
	color: white;
	text-align: center;

}
a{
	text-decoration: none;
	color: inherit;
}

section{
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 40px;
	width: 85%;
	margin: 0 auto;
}

.search{
	float: right;
	border-radius: 5px;
	display: inline-flex; /*/aligning both search-box and search icon together */
	font-size: 20px;
}
.search-box-input{
	font-size: inherit;
	border:0.2em solid #7e7;
	border-radius: 0.2em 0 0 0.2em;
	padding:0.2em 0.5em;
	outline: 0;

}
.search-box-input:hover,
.search-box-input:focus{
	border-color: #4d4;
}
.search_box_button{
	font-size: inherit;
	border-radius: 0.2em solid #7e7;
	padding:0 0.3em 0.3em 0;
	background-color: #7e7;
	border-left: 0;
	padding: 0 0.75em;
	color: white;
	font-weight: bold;
	outline: 0;
	cursor: pointer;


}
.search_box_button:hover,
.search_box_button:focus{
	border-color: #4d4;
}
.search_icon{
	max-height: 20px;
	max-width: 20px;
	padding: 0px;
	margin-right: 5px;
}
.footer-main{
	height: auto;
	width: 100%;
	margin: auto;
	background-color: #3d3d3d;
	padding: 30px 20px;
}
.clear{
	clear: both;
}
.footer-inner{
	width: 1200px;
	height:auto;
	margin: auto;

}
.footer-left{
	width: 380px;
	height: auto;
	float: left;
	
}
.footer-box{
	width: 100%;
	height: auto;
	margin: auto;
	margin-bottom: 30px;

}
.footer-box h3{
	font-family: "open Sans";
	font-size: 20px;
	color: #fff;
	text-align: left;
	margin: 0px;
	font-weight: bold;
	text-transform: uppercase;

}
.footer-box ul{
	margin: 0px;
	padding: 0px;

}
.footer-box ul li{
	list-style-type: none;
	padding-top: 5px;

}
.footer-box ul li a{
	font-family: "open Sans";
	font-size: 20px;
	color: #999;

}
.social{
	height: 60px;
	width: 60px;
	border-radius: 10px;
}

.back_image{
	float: right;
	
}
.vertical_text{
	position: inherit;
	background-color: rgba(37,34,34,0.6);
}
.child{
	display: none;
}