html,body{
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
    
}
.nav-link{
    color: #fff;
    margin-left: 20px;
    padding: 0 2.0em;
}
h2{
    text-align: center;
    margin: 0 auto;
    color: #fff;
    padding: 0 2.0em;
    line-height: 0.7em;
}

.dropdown-menu{
    display: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
#copyright{
    color: black;
    text-align: center;
    font-weight: bold;
}
.container{
    margin: 0 auto;
}
.col-9{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    border: solid #666666;
    width: 50%;
    height: auto;
    padding-bottom: 10%;
    margin-top: 5%;
    background-color: #ffffff;
    border-radius: 10px;
    
}
.col-9 h1{
    font-family: sans-serif;
    text-decoration: underline;
    color: #333333;
}
.col-9 img{
    width: 200px;
    height: 200px;
    float: left;
    padding-left: 30px;
}
.col-9 a{
    color: #ff3333;
    font-style: italic;
    margin: 0 auto;
    margin-right: 44%;
}
.labels{
   margin-right: 48%; 
}
input[type=text]{
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
    margin-right: 43%;
}
input[type=password]{
    height: 40px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
    margin-right: 43%;
}
.btn-group{
    margin: 0 auto;
    margin-right: 37%;
}